<footer>
                        <aside class="mythemes-default-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div id="text-9" class="widget widget_text"><h5 class="footer-widget-title">Contact</h5>			<div class="textwidget"><strong>Paula Walker</strong><br>
<a href="https://maps.here.com/directions/drive/mylocation/Paula-Walker-at-Simmons-Bank:37.129681,-93.27816?map=37.14212,-93.27636,16,normal&amp;fb_locale=en_US" target="_blank">4625 S National,<br>
Springfield, Missouri</a>
<p>Phone: <a href="tel:(417) 818-5012" target="_blank">(417) 818-5012</a></p></div>
</div>                                </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div id="text-10" class="widget widget_text"><h5 class="footer-widget-title">Social</h5>			<div class="textwidget"><a href="https://www.facebook.com/love2lend2u/" target="_blank">Facebook</a></div>
</div>                                </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div id="text-11" class="widget widget_text"><h5 class="footer-widget-title">Hours</h5>			<div class="textwidget"><p>Monday - Friday<br>
9am - 5pm</p>
</div>
</div>                      </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                      <div class="widget widget_text"><h5>Working Hours</h5>
                        <div class="textwidget">Monday to Friday<br>08:00 - 17:00</div>
                      </div>
                    </div>
                  </div>
                  </div>
    </aside>

    <div class="mythemes-dark-mask">
        <div class="container mythemes-social">
            <div class="row">
              <div class="col-lg-12">
                <a href="https://www.facebook.com/love2lend2u/?fref=ts" class="mythemes-icon-facebook" target="_blank"></a>
              </div>
            </div>
        </div>

        <div class="mythemes-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <span class="copyright">© 2016 Paula Walker. Designed by <a href="http://zachdyerdesign.org/">Zach Dyer Design</a>.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</footer>
<!-- End Footer -->
