<header>

    <div class="mythemes-topper">
        <div class="container">

            <div class="row">
                <div class="mythemes-header-antet">

                    <!-- COLLAPSE BUTTON -->
                    <button type="button" class="btn-collapse"><i class="mythemes-icon-plus-2"></i></button>

                    <!-- LOGO / TITLE / DESCRIPTION -->
                    <div class="overflow-wrapper">
                      <div class="valign-cell-wrapper left">
                        <div class="valign-cell">
                          <a class="mythemes-logo " href="http://www.homeloansspringfieldmo.com/" title="Paula Walker - Springfield Home Loans MO">
                            <img src="/images/paula-logo.png" title="Paula Walker - Springfield Home Loans MO">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="mythemes-header-menu" style="position: relative;">

                  {% include nav.html %}

                </div>

            </div>

        </div>
    </div>


  <div class="mythemes-header parallax-container overflow-wrapper" style="height: 400px;">

      <div class="valign-cell-wrapper scene-wrapper">
        <div class="valign-cell"><div class="parallax" style="background-image: url(/images/cropped-cropped-bigstock-Happy-family-at-home-Real-est-46211113-1.jpg);">
          <img src="/cropped-cropped-bigstock-Happy-family-at-home-Real-est-46211113-1.jpg" alt="Header Image - Get a home today" class="parallax-image" style="height: 921px; width: 2225px; display: block; transform: translate3d(-50%, 336px, 0px);"></div>
        </div>
      </div>
          <div class="valign-cell-wrapper mythemes-header-mask" style="background: rgba( 0,0,0, 0.75 );">

          <!-- VERTICAL ALIGN CENTER -->
          <div class="valign-cell">

              <div class="row">
                  <div class="col-lg-12">
                    <a class="header-title " href="http://www.homeloansspringfieldmo.com/" title="Get a home today - Home loans for Springfield MO">Get a home today</a>
                    <a class="header-description " href="http://www.homeloansspringfieldmo.com/" title="Get a home today - Home loans for Springfield MO">Home loans for Springfield MO</a>
                  </div>
              </div>

          </div>
      </div>

      <div class="valign-bottom-cell-wrapper header-button-wrapper">
          <div class="valign-cell">
            <a href="http://www.homeloansspringfieldmo.com/contact/" class="btn first-btn header-button " title="first button link description...">Get Started</a>
          </div>
      </div>
  </div>
</header>
