<!-- TOPPER MENU -->
<nav class="mythemes-navigation header-menu nav-collapse">

    <div class="menu-list-pre-wrapper">
      <button type="button" class="btn-collapse"><i class="mythemes-icon-cancel-2"></i></button>

      <div class="menu-list-wrapper">
        <ul id="menu-main-menu" class="mythemes-menu-list">
          <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-34"><a href="/">Home</a></li>
          <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="/about/">About</a></li>
          <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="/services/">Services</a></li>
          <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="/mortgage-calculator/">Mortgage Calculator</a></li>
          <li id="menu-item-50" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-50"><a href="/category/blog/">Blog</a></li>
          <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/contact/">Contact</a></li>
          <li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57"><a href="tel:417.818.5012">417.818.5012</a></li>
        </ul>
      </div>

  </div>
  <div class="mythemes-visible-navigation"></div>
</nav>
