<!-- TOPPER MENU -->
<nav class="mythemes-navigation header-menu nav-collapse">

    <div class="menu-list-pre-wrapper">
      <button type="button" class="btn-collapse"><i class="mythemes-icon-cancel-2"></i></button>

      <div class="menu-list-wrapper">
        <ul id="menu-main-menu" class="mythemes-menu-list">
          <li id="menu-item-34" {% if page.url == "/" %}class="current-menu-item"{% endif; %}><a href="/">Home</a></li>
          <li id="menu-item-35" {% if page.url == "/about/" %}class="current-menu-item"{% endif; %}><a href="/about/">About</a></li>
          <li id="menu-item-42" {% if page.url == "/services/" %}class="current-menu-item"{% endif; %}><a href="/services/">Services</a></li>
          <li id="menu-item-65" {% if page.url == "/mortgage-calculator/" %}class="current-menu-item"{% endif; %}><a href="/mortgage-calculator/">Mortgage Calculator</a></li>
          <li id="menu-item-50" {% if page.url == "/blog/" %}class="current-menu-item"{% endif; %}><a href="/category/blog/">Blog</a></li>
          <li id="menu-item-38" {% if page.url == "/contact" %}class="current-menu-item"{% endif; %}><a href="/contact/">Contact</a></li>
          <li id="menu-item-57"><a href="tel:+1 417 818 5012">417 818 5012</a></li>
        </ul>
      </div>

  </div>
  <div class="mythemes-visible-navigation"></div>
</nav>
